<form method="POST" action="{{ url_for('location.create') }}">
    <div class="mb-3">
        <label for="teams" class="form-label">Location name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Location name">
    </div>
    <div class="mb-3">
        <label for="teams" class="form-label">Available date/times</label>
        <input type="text" class="form-control" id="available_times" name="available_times" placeholder="Available date/times">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>