<form method="POST" action="{{ url_for('schedule.view') }}">

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>Select teams</h3>
        <ul class="list-group">
          {% for team in teams %}
          <li class="list-group-item">
            <input name="team" value="{{team.id}}" class="form-check-input me-1" type="checkbox" value="" aria-label="{{team}}" rt>
            {{ team }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm">
        <h3>Select locations</h3>
        <ul class="list-group">
          {% for loc in locations %}
          <li class="list-group-item">
            <input name="location" value="{{loc.id}}" class="form-check-input me-1" type="checkbox" value="" aria-label="{{loc}}" rt>
            {{ loc }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
<br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>