{% if schedule %}
<table class="table">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Location</th>
            <th>Team 1</th>
            <th>Team 2</th>
        </tr>
    </thead>
    <tbody>
        {% for game in schedule %}
        <tr>
            <td>{{game.time}}</td>
            <td>{{game.location}}</td>
            <td>{{game.team1}}</td>
            <td>{{game.team2}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    No games found.
{% endif %}